<!DOCTYPE html>
<html>
  <head>
  login
   
  </head>
  <body>
   
   <h1>Login page</h1>
   <form class="box" action="/login" method="POST">
    
    <h1>Login</h1>

    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="Password">
   <input type="submit" value="Login">
</form>

<a href="/signup_user">Not a member? click here to signup</a>

  </body>
</html>
