<form class="box" action="/signup" method="POST">
    
    <h1>Signup</h1>

    <input type="text" name="username" placeholder="Username">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="Password">
    <input type="radio" name="pack" value="premium" checked> Premium<br>
    <input type="radio" name="pack" value="non-premium"> Non-premium<br>
    
   <input type="submit" value="signup">
</form>
